body{
  background-color: rgb(146, 241, 241);
}


.card{
    text-align: center;
    box-shadow:  0.3em 0.3em 1em rgba(0, 0, 0, 0.726);
    background-color: rgb(106, 109, 106);
    border-color: black;
}


.btn{
    box-shadow:
      inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0.3em 0.3em 1em rgba(13, 13, 13, 0.3);
      border-color: rgb(85, 82, 82);
  
}


input{
    background-color: rgba(105, 103, 103, 0.953);
    box-shadow:
      0.3em 0.3em 1em rgba(0, 0, 0, 0.705);
}

#calcular{
  background-color: rgb(187, 197, 194);
  text-align: end;
}